<% blocmarks = Bookmark.joins(:topic).where(topics: {title: topic}) %>
<ul class="no-bull">
<% blocmarks.each do |mark| %>
	<h4>
		<li>
			<div class="del-button pull-left">
				<%= render partial: 'likes/like', locals: {bookmark: mark} %>
			</div>
			<% if mark.user_id == current_user.id %>
				<div class="del-button pull-left">
					<%= link_to "", mark, method: :delete, class: 'glyphicon glyphicon-remove-circle' %>
				</div>
			<% end %>
			<%= link_to mark.url, "//#{mark.url}", class: 'black' %>
		</li>
	</h4>
<% end %>
</ul>