<% blocmarks = Bookmark.joins(:topic).where(topics: {title: topic.title}) %>
<% mymarks = blocmarks.joins(:user).where({user_id: current_user}) %>

<% if mymarks.count > 0 %>
	<h3><%= link_to "##{topic.title}", "topics/#{topic.id}" %></h3>
	<ul class="no-bull">
	<% mymarks.each do |mark| %>
		<h4>		
			<li>
				<div class="del-button pull-left">
				<%# if policy(mark).destroy? %>
					<%= link_to "", mark, method: :delete, class: 'glyphicon glyphicon-remove red' %>
				<%# end %>
				</div>
				<%= link_to mark.url, mark.url, class: 'black' %>
			</li>
		</h4>
	<% end %>
	</ul>
<% end %>