<div class="row">
	<div class="col-md-6">
		<h1>Welcome to Blocmarks</h1>
		<p>Where the blocs come out to play.</p>
		<% if current_user %>
			<h4 class="some-space">
			Go to <%= link_to "All Blocmarks", topics_path, class: 'btn btn-info btn-lg' %> or
			<%= link_to "Your Blocmarks", my_topics_path, class: 'btn btn-info btn-lg' %>
			</h4>
		<% end %>
	</div>
	<div class="col-md-6">
		<% if current_user %>
			<%= render partial: 'bookmarks/new' %>
		<% end %>
	</div>
</div>
